#nomatched{
  top: 90px !important;
  height: 634px !important;
}
#view008-title{
	position: absolute;
	z-index: 1;
	top: 8px;
	left: 50%;
	margin-left: -85px;
	width: 170px;
	height: 36px;
	text-align: center;
}
#view008-buttons{
	position: relative;
	width: 278px;
	height: 44px;
}
#view008-filter{
	position: absolute;
	left: 286px;
	top: 16px;
	width: 208px;
	height: 20px;
}
#view008-filter span{
	position: relative;
	display: inline-block;
	top: -2px;
	height: 12px;
	line-height: 12px;
}
.view008-button-value{
	position: relative;
	top: 50%;
	margin-top: -11px;
	width:74px;
	height: 22px;
}
#view008-back{
	position: absolute;
	left: 16px;
}
#view008-homepage{
	position: absolute;
	left: 106px;
}
#view008-refresh{
	position: absolute;
	left: 196px;
}
.view008-rpt{
	position: absolute;
	top: 50px;
	width: 1024px;
	height: 654px;
}
#view008-dimensions{
	position: relative;
	width: 1002px;
	left: 50%;
	margin-left: -501px;
	height: 34px;
	-webkit-border-radius: 10px;
	border: 1px solid #5F5F5F;
}
#view008-dimensions ul{
	width: 640px;
}
#view008-dimensions ul li{
	position: relative;
	width: 88px;
	height: 22px;
	margin-top: 6px;
	margin-left: 11px;
	-webkit-border-radius: 2px;
}
#view008-dimensions select{
	position: absolute;
	top: 8px;
	right: 6px;
	width: 172px;
}
.button{
	background: url('/fair/ipad/img/button.png') repeat-x;
}
#view008-single-legend{
	display: none;
	position: absolute;
	top: 100px;
	right: 28px;
	width: 160px;
	border-radius: 10px;
	border: 1px solid #5F5F5F;
}
.view008-single-legend-item{
	position: relative;
	left: 50%;
	width: 140px;
	height: 22px;
	margin-left: -70px;
	margin-top: 6px;
	margin-bottom: 4px;
}
.view008-single-legend-item-color{
	position: absolute;
	width: 26px;
	height: 18px;
	left: 4px;
	border-radius: 6px;
}
.view008-single-legend-item-name{
	position: absolute;
	min-width: 160px;
	height: 14px;
	left: 54px;
}
#view008-pie-select,#view008-column-select{
	padding-left: 12px;
	color: #101010;
	font-size: 15px;
}
#view008-pie-select{
	position: absolute;
	top: -10px;
}
#view008-column-select{
	position: absolute;
	right: 0px;
}
#view008-charts{
	position: relative;
	width: 1024px;
	height: 370px;
}
#view008-pie{
	position: absolute;
	width: 482px;
	height: 392px;
}
#view008-pie-buttons{
	position: absolute;
	width: 448px;
	height: 30px;
	left: 14px;
	top: 42px;
}
#view008-column{
	position: absolute;
	right: 0px;
	width: 542px;
	height: 392px;
}
#view008-column-buttons{
	position: absolute;
	width: 240px;
	height: 30px;
	right: 20px;
	top: 42px;
}
#view008-table{
	position: relative;
	overflow: auto;
	width: 1020px;
	height: 214px;
	top: 4px;
	left: 4px;
	margin-bottom: 6px;
}
.view008-lump{
	width: 14px;
	height: 14px;
	margin-top: -13px;
	border-radius: 7px;
}
#view008-table table{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	border-collapse:collapse;
	border: 2px solid #A6A6A6;
}
#view008-table td{
	border: 1px solid #A6A6A6;
}
#view008-table thead td{
	text-align: center;
	font-weight: bold;
}
.sorted{
	background: no-repeat transparent;
	background-position: 99%;
}
.up{
	background-image: url('/fair/ipad/img/upsimple.png');
}
.down{
	background-image: url('/fair/ipad/img/downsimple.png');
}
#view008-table tbody td{
	text-align: right;
}
#view008-table tbody .sort-desc{
	word-wrap: keep-all;
	text-align: left;
	white-space: nowrap;
}
#view008-fixedheader{
	position: absolute;
	top: 0px;
	left: 0px;
	width: 1020px;
	z-index: 900;
	overflow: hidden;
}
#view008-loading{
	height: 680px;
}
#view008-nomatched{
	top: 90px;
	height: 636px;
}
.view008-button{
	bottom: 3px;
	width: 74px;
	height: 32px;
	display: block;
	border: 1px solid #5F5F5F;
	text-align: center;
	font-size: 15px;
}
#view008-dimensions ul li .dimensionname{
	position: absolute;
	z-index: 8;
	width: 90px;
	height: 18px;
	top: 50%;
	left: 50%;
	margin-left: -45px;
	margin-top: -9px;
	text-align: center;
}
.view008-max{
	position: absolute;
	text-align: center;
	width: 88px;
	height: 20px;
	right: 0px;
	top: -32px;
}
#view008-details{
	position: relative;
	top: 6px;
	width: 1024px;
	height: 634px;
}
#view008-table-max{
	position: relative;
	font-size: 14px;
	width: 88px;
	height: 20px;
	left: 916px;
	text-align: center;
	font-size: 12px;
}
