.view008-button{
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	background-color: #878787;
	color: #FFFFFF;
}
#view008-dimensions ul li .dimensionname{
	color: #FFFFFF;
}
.view008-max{
	-webkit-border-radius: 4px;
	background-color: #878787;
	color: #FFFFFF;
}
#view008-table-max{
	-webkit-border-radius: 4px;
	background-color: #878787;
	color: #FFFFFF;
}
.active{
	background: url('/fair/ipad/img/02/active.png') repeat-x;
}
.view008-table-footer{
	background-color: #999999;
	color: #FFFFFF;
}