.view006-button{
	-webkit-border-radius: 4px;
	background-color: #878787;
	color: #FFFFFF;
}
#view006-container{
	background-color: #FFFFFF;
	background: url("/fair/ipad/img/02/background2.jpg");
}
.view006-max{
	-webkit-border-radius: 4px;
	background-color: #878787;
	color: #FFFFFF;
}