#container{
	width:100%;
	background: url("/fair/ipad/img/02/background1.jpg");
	
}
#savebutton{
	background-color: #029ae5;
    color: #FFFFFF;
	-webkit-border-radius: 4px;
}
.textarea{
	background-color: #cecece;
}
.words{
	color: #FFFFFF;
}