@CHARSET "UTF-8";
html,body{
	margin: 0;
	padding: 0;
	height: 300px;
	background: #EFEFF4;
}
#container{
	margin:0 auto;
	padding-top: 60px;
}
#btnpwd{
	text-align: right;
	border-radius: 4px;
	color: #2E90FD;
	font-size: 18px;
	padding-right: 20px;
	padding-top: 10px;
}
#back{
	text-align: center;
	border-radius: 4px;
	color: #2E90FD;
	width:50px;
	height:20px;
	line-height:20px;
	font-size: 16px;
}
table{
	width:320px;
	font-size: 18px;
	border:1px solid #c8c7cc;
	border-collapse:collapse;
	background: #FFFFFF;
}
table tr td{
	border-bottom: 1px solid #c8c7cc;
	padding-left: 10px;
	height:60px;
}
input{
	width:90%;
	height:80%;
	font-size: 18px;
	border: 0px;
}