<ion-content class="package" style="background-color: rgb(240,239,245);font-size: 16px" >
    <!--<div class="col bottonc" style="text-align: right;padding-right: 30px;padding-top: 10px">
        <button class="button button-outline bottonc" ng-click="doPackage()">补充装箱</button>
    </div>-->

    <div class="p0">
        <div class="row bc">
            <div class="col col-15 col-center">
                店号
            </div>
            <div class="col col-15 col-center">
                店铺等级
            </div>
            <div class="col col-25 col-center">
                店铺名称
            </div>
            <div class="col col-15 col-center">
                订货总数
            </div>
            <div class="col col-15 col-center">
                吊牌总额
            </div>
            <div class="col col-15 col-center">
                状态
            </div>
           <!-- <div class="col col-10 col-center">
                复制订单
            </div>
            <div class="col col-10 col-center">
                店铺信息
            </div>
            <div class="col col-10 col-center">
                选择
            </div>-->
        </div>
       <!-- <div ng-style="avaHeight">-->
            <div class="row item"  ng-repeat="store in storeList" ng-click="doDirct(store)">
                <div class="col col-15 col-center" ng-bind="store[1]">
                    店号
                </div>
                <div class="col col-15 col-center" ng-bind="store[2]">
                    店铺等级
                </div>
                <div class="col col-25 col-center" ng-bind="store[3]">
                    店铺名称
                </div>
                <div class="col col-15 col-center" ng-bind="store[5]">
                    订货总数
                </div>
                <div class="col col-15 col-center" ng-bind="store[6]">
                    吊牌总额
                </div>
                <div class="col col-15 col-center" ng-bind="store[7]">
                    状态
                </div>
                <!--<div class="col col-10 col-center" style="font-size: 25px;">
                    <i class="radio-icon disable-pointer-events icon ion-ios-copy-outline"></i>
                </div>
                <div class="col col-10 col-center" style="font-size: 25px;">
                    <i class="radio-icon disable-pointer-events icon ion-ios-search"></i>
                </div>
                <div class="col col-10 col-center bottonc " style="font-size: 20px;"  ng-show="store.checked">
                    <i class="radio-icon disable-pointer-events icon ion-checkmark"></i>
                </div>-->
            </div>
        <!--</div>-->

    </div>
</ion-content>
