#view009-table table {
    background-color: #FFFFFF;
    color: #AAAAAA;
}
#view009-banner{
	position: absolute;
	background: #101010;
	top: 0px;
}
#view009-buttons{
	position: relative;
	height: 44px;
}
#view009-buttons ul{
	position: relative;
	margin-left: 12px;
	top: 8px;
	height: 32px;
}
.view009-button{
	position: relative;
	bottom: 3px;
	width: 74px;
	height: 100%;
	display: block;
	border: 1px solid #5F5F5F;
	-webkit-border-radius: 18px;
	background-color: #5e5e5e;
	text-align: center;
	font-size: 15px;
	margin-right: 24px;
}
.view009-button-value{
	position: absolute;
	top: 50%;
	margin-top: -11px;
	width:74px;
	height: 22px;
}
#view009-filter{
	position: absolute;
	left: 218px;
	top: 16px;
	width: 208px;
	height: 20px;
}
#view009-filter span{
	position: relative;
	display: inline-block;
	top: -2px;
	height: 12px;
	line-height: 12px;
}
#view009-title{
	position: absolute;
	text-align: center;
	font-size: 26px;
	width: 350px;
	z-index: 20;
	top: 50%;
	left: 420px;
	margin-top: -11px;
	margin-left: -112px;
}
.rightbutton{
	font-size: 15px;
    height: 30px;
    line-height: 30px;
    position: absolute;
    text-align: center;
    top: 7px;
    width: 80px;
    z-index: 999;
    background-color: #5E5E5E;
    border: 1px solid #5F5F5F;
    -webkit-border-radius: 18px;
}
#view009-search{
    left: 744px;
}
div#synchronize {
	left: 750px;
}
#view009-container{
	position: absolute;
	top: 50px;
	width: 1020px;
	height: 676px;
}
#view009-container table{
	table-layout: fixed;
	width: 99.6%;
}
#view009-container table thead{
	 background-color: #999999;
	 color: #FFFFFF;
}
#view009-container table td{
	overflow: hidden;
}
#feedback ul{
	position: relative;
	top: 1px;
	left: 1px;
}
#feedback ul li{
	display : inline;
	width : 150px;
	height : 77px;
	border-right: 1px solid #A6A6A6;
	border-top: 1px solid #A6A6A6;
	margin-top : -2px;
}
tr td#feedback li.specialright{
	border-right: 0px !important;
}
tr td#feedback li.specialtop{
	border-top: 0px !important;
}
p.feedbackcontent{
	width : 136px;
	margin : 15px auto 5px;
	overflow: hidden;
}
#feedback ul li p.opcontent{
	height : 18px;
}
p.opcontent{
	margin-top: 5px;
	color : #FFFFFF;
}
#view009-table table tr td img{
	height : 75px;
	width : 60px;
}
tr.even td#feedback{
	background-color: #C7C7C7;
}  
tr.odd td#feedback{
	background-color: #DFDFDF;
}
.specialli{
	background-color: #FFFFFF !important;
}
tr td#feedback li.particularli{
	margin-top: -3px !important;
}
.replycontent{
	overflow: hidden;
	width : 100%;
	min-height :75px;
	color: #E17777;
	text-align: center;
	line-height: 20px;
	white-space: normal;
}
.textareastyle{
	height : 80%;
	width : 80%;
	margin-left: 3%;
}
.view009-basic{
	position: relative;
	left: 4px;
	top: 0px;
}
div#view009-table{
	z-index: 10;
	height: 580px;
	overflow: auto;
}
#view009-footer table tfoot td{
	font-weight: normal !important;
	text-align: left;
}
div#view009-synchronize{
	position: absolute;
   	top: 7px;
	right: 100px;
	z-index: 200;
	width: 80px;
	height: 30px;
	line-height: 30px;
    font-size: 15px;
    text-align: center;
    -webkit-border-radius: 18px;
	border: 1px solid #5F5F5F;
	background-color: #5E5E5E;
}
.tooltip{
	display: none;
	position: fixed;
	left: 0px;
	top: 0px;
	z-index: 888;
	border: 0px;
}
#view009-tooltip > span{
	position: absolute;
	padding: 4px 14px;
	color: #EEEEEE;
	background-color: #999999;
	-webkit-user-select: none;
	border: 1px solid #EEEEEE;
	min-height: 75px;
	min-width: 100%;
}
#view009-toolbars{
	 display: none;
	position: relative;
	width: 100%;
	height: 40px;
	margin-top: 8px;
	z-index: 999;
}
div.toolbar{
	position: absolute;
	width: 100px;
	height: 40px;
	padding: 0 12px;
    -webkit-border-radius: 18px;
	border: 1px solid #5F5F5F;
	background-color: #5E5E5E;
}
div.toolbardesc{
	height: 40px;
	font-size: 14px;
	line-height: 40px;
}
div.toolbarimg{
	position: absolute;
	width: 40px;
	height: 40px;
}
div#view009-prev{
	 display: none; 
	left: 12px;
}
div#view009-prev .toolbardesc{
	float: left;
}
div#view009-prev .toolbarimg{
	left: 12px;
	background: url('/fair/ipad/img/order_prev.png');
}
div#view009-prev .toolbardesc{
	float: right;
}
div#view009-next .toolbarimg{
	right: 12px;
	background: url('/fair/ipad/img/order_next.png');
}
div#view009-next .toolbardesc{
	float: left;
}
div#view009-page{
	position: absolute;
	width: 218px;
	height: 40px;
	left: 50%;
	margin-left: -109px;
}
div#view009-current{
	position: absolute;
	left: 0px;
	width: 86px;
	height: 40px;
	line-height: 40px;
}
div#view009-current select{
	position: absolute;
	display: block;
	height: 24px;
	top: 50%;
	font-size: 18px;
	margin-top: -12px;
}
div#view009-total{
	position: absolute;
	right: 0px;
	width: 76px;
	height: 40px;
	line-height: 40px;
	font-size: 18px;
}
div#view009-total span{
	font-weight: bold;
}
div#view009-next{
	right: 12px;
}
#view009-nomatched{
	top: 90px;
	height: 636px;
}
#view009-loading{
	top: 50px;
	height: 676px;
}