/*container*/
.container{
	position:relative;
	width:948px;
	margin:0 auto;
}
.container .colname{
	width:100%;
	height:42px;
	text-align:center;
	line-height:42px;
}
.dim span,.metric span {
    background: none repeat scroll 0 0 #fff;
    display: inline-block;
    font-weight: bold;
    left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -10px;
}
.container .metric,.container .dim{
	width:100%;
	height:120px;
	position:relative;
	border:1px solid #CCC;
	border-radius:3px;
}
.container .metric{
	height:300px;
}
.container .metric span{
	background: none repeat scroll 0 0 #fff;
    display: inline-block;
    font-weight: bold;
    left: 30px;
    padding-left: 10px;
    padding-right: 10px;
    position: relative;
    top: -10px;
}
.container .metric div,.container .dim div{
	background-image: url("../images/button4.png");
	background-size:100% 80%;
    background-repeat:no-repeat;
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    line-height: 30px;
    padding-left: 37px;
    position: absolute;
    text-align: center;
    width: 88px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.container .trash {
    background-image: url("../images/rubsh.png");
    background-size:70% auto;
    background-repeat:no-repeat;
    height: 50px;
    left: 0;
    overflow: hidden;
    position: relative;
    width: 50px;
	top:2px;
}
.container .trash div {display:none;}
.container .formula{
	width:100%;
	height:194px;
	position:relative;
}
.container .formula div{
	position:relative;
	top: 5px;
	left:0;
}
.container .formula div.header{
	border-color: #ccc;
    border-style: solid;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    border-width: 1px 1px 0;
    height: 38px;
    line-height: 38px;
    text-align: center;
    width: 122px;
	background-color:#FFF;
	z-index:1;
}
.container .formula div.content{
	height:99px;
	width:100%;
	border:1px solid #CCC;
	top:4px;
	border-top-right-radius:3px;
	border-bottom-right-radius:3px;
	border-bottom-left-radius:3px;
	z-index:0;
}
.container .formula div.content .param-a,.container .formula div.content .param-b,.container .formula div.content .param-c,.container .formula div.content .layout{
	margin:10px 0;
	width:25%;
	height:42px;
	display:inline-block;
	line-height:42px;
	text-align:right;
	position:relative;
}
.container .formula div.content .param-a .coln-a ,.container .formula div.content .param-b .coln-b,.container .formula div.content .param-c .coln-c {
    border: 1px solid #ccc;
    display: inline-block;
    height: 30px;
    line-height: 38px;
    margin-left: 23px;
    text-align: center;
    width: 130px;
	position:relative;
	overflow:hidden;
	top:14px;
	left:0;
}
.formula div.content .param-a .coln-a div,.formula div.content .param-b .coln-b div,.formula div.content .param-c .coln-c div{
	background-image: url("../images/button4.png");
	background-size:100% 80%;
    background-repeat:no-repeat;
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    line-height: 30px;
    padding-left: 37px;
    position: absolute;
    text-align: center;
    width: 88px;
}
.container .formula div.content .layout{width:20%;text-align: center;}
.container .formula .content .define {
    height: 42px;
    line-height: 42px;
    padding-left: 20px;
    text-align: left;
    width: 100%;
}

.container .formula .content .define span {
    border: 1px solid #ccc;
    display: inline-block;
    height: 38px;
    text-align: center;
    width: 65%;
}
.container .formula .content .submit{text-align:right;margin-top:0;}
.container .nav{
	width:100%;
	height:292px;
	position:relative;
}
.nav ul{
	border-bottom: 1px solid #ccc;
    height:42px;
    position: relative;
	width:100%;
	line-height:42px;
	top:0;
	left:0;
	z-index:1;
}
.nav ul li {
	background: none repeat scroll 0 0 #fff;
    border-bottom: 1px solid #ccc;
    cursor: pointer;
    display: inline-block;
    padding: 0 10px;
    position: relative;
    top: 1px;
	height:40px;
}
.nav ul li.on{
	border-color: #ccc #ccc rgba(0, 0, 0, 0);
    border-style: solid;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-width: 1px;
}
.nav div.row,.nav div.column,.nav div.amount{
	/*border-bottom-left-radius:3px;
	border-bottom-right-radius:3px;*/
	border-radius:3px;
	border-style:solid;
	border-width: 1px 1px;
	border-color:#CCC;
	width:100%;
	height:252px;
	position:relative;
	top:-1px;
	left:0;	
}

.nav div.row div,.nav div.column div,.nav div.amount div{
	background-image: url("../images/button4.png");
    color: #333;
    cursor: pointer;
    display: inline-block;
    height: 35px;
    line-height: 35px;
    padding-left: 37px;
    position: absolute;
    text-align: center;
    width: 88px;
}

.nav div.column,.nav div.amount{
	display:none;
}

/*submit*/
.submit,.button {
    margin-top: 0px;
    text-align: right;
}
.button{
	margin-top:6px;
}
.submit button:last-child{margin-right:5px;}