#view001-category,#view001-details{
	display: none;
}

#view001-basic{
	position: relative;
	float: left;
	width: 1024px;
	height: 657px;
}

#view001-category{
	position: relative;
	float: right;
}

#view001-details{
	position: absolute;
	bottom: 0px;
}