.dropdown-menu-change li a:HOVER{
	background-color: rgb(232,48,35);
	color: #fff;
}
.cur{
	color: red;
}
body , html{
	font-family: "Microsoft YaHei" ! important;
}
.content{
	position: absolute;
	left: 0;
	top: 18%;
	width: 110%;
	height: 50%;
	-webkit-border-radius: 4px;
	-webkit-box-shadow: 0px 0px 30px #06C;
	text-align: center;
	/* z-index:2;  */
	background-color:#fff; 
	overflow:auto; 
	border:1px rgb(170,170,170) solid;
	border-radius: 4px;
}
.dropdown-menu-status-showMore{
	left: -200px;
	top: -40px;
}
.ch-pwd{
	cursor: pointer;
}
.ch-pwd:HOVER{
	color: rgb(200,22,35);
	text-decoration: none;
}
.head-margin{
	 float: right;
}
.head-margin span{
/* 	margin: 0 2%; */
margin: 0 8px;
}
/* body {
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #555;
} */
.dropdown-menu-showMore{
	left: -200px;
	min-width: 250px;
}
.pdt-line hr{
	border:1px rgb(170,170,170) solid;
	-webkit-box-shadow: 3px 3px 10px rgb(241,241,241);
	box-shadow: 3px 3px 10px rgb(241,241,241);
}
.pdt-nav-item {
  position: relative;
  display: inline-block;
/*   padding: 0px 10px 1px; */
  padding: 0;
  font-weight: bold;
  font-size: 13px;
  width: 16%;
  text-align: center;
  color: black;
}
.pdt-nav-item:hover,
.pdt-nav-item:focus {
  color: black;
  text-decoration: none;
}
.pdt-nav .active {
  color: rgb(201,25,36);
   border-bottom:solid 2px rgb(201,25,36);
}
.pdt-nav .active::after{
  position: absolute;
  bottom: 0;
  left: 50%;
  width: 0;
  height: 0;
  /* margin-left: -5px; */
  vertical-align: middle;
  content: " ";
  border-right: 3px solid transparent;
  border-bottom: 3px solid;
  border-left: 3px solid transparent;
}
.pdt-nav a{
	outline:none;
    -moz-outline:none;
    blr:expression(this.onFocus=this.blur());
}
.more-link a{
	float: right;
	font-size: 16px;
	text-decoration:none;
	outline:none;
    -moz-outline:none;
    blr:expression(this.onFocus=this.blur());
}
.more-link a:HOVER,.more-link span:HOVER{
	color: rgb(201,25,36);
	cursor: pointer;
}
.progress{
	margin-right: 10px;
}
.all-pdt-icon{
   	margin-right: 10%;
   	float: right;
}
.caption{
	height: 100px;
}
.thumbnail{
	height: 130px;
}
.thumbnail img{
	/* width: 100%; */
	height: 100%;
}
/* .top{
	height: 36px;
} */
.top div{
	/* height:36px;
	line-height: 36px; */
	height:30px;
	line-height: 26px;
}
/* #page-niche-menu span{
	color: rgb(200,22,35);
}
#page-niche-menu a:HOVER{
	text-decoration: none;
	color: rgb(200,22,35);
} */
.product-follow_new {
	float:left;
    display: block;
    height: 30px;
    left: 0;
    overflow: hidden;
    position: absolute;
    top: 0;
    margin-left:7%;
    width:20%;
    background: url("/fair/ipad/B2B/images/new.png") no-repeat;
}
.product-follow_reservation {
	float:right;
    height: 30px;
    margin-right:7%;
    right: 0;
    overflow: hidden;
    position: absolute;
    top: -2px;
    width:20%;
    background: url("/fair/ipad/B2B/images/reservation.png") right no-repeat;
}
.favorite{
	position: absolute;
	float: right;
	right: 0px;
	width:20%;
	top:200px;
	height: 30px;
	background: url("/fair/ipad/B2B/images/favorite.png") no-repeat;
}
.unfavorite{
	position: absolute;
	float: right;
	right: 0px;
	width:20%;
	top:200px;
	height: 30px;
	background: url("/fair/ipad/B2B/images/unfavorite.png") no-repeat;
}
.options{
	position: absolute;
	left: 20%;
	width: 60%;
/* 	height: 60%; */
	top: 30%;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px #06C;
	z-index: 150;
	text-align: center;
}

.options_tab tr,.options_tab td{
	border: 1px solid rgb(200,22,35)!important;
}
.options_tab tr:HOVER{
	background-color: rgb(200,22,35)!important;
	color: white;
}

#loading {
	/* background-image: url("/fair/ipad/img/loading.gif");
 	z-index: 300;
	
	position: absolute;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px #06C;  */
	position: absolute;
	width: 100px;
	height: 100px;
	top: 50%;
	left: 50%;
	margin-top: -50px;
	margin-left: -50px;
	-webkit-border-radius: 10px;
	-webkit-box-shadow: 0px 0px 30px #06C;
	background: url("/fair/ipad/img/loading.gif") center no-repeat;
	z-index: 300;
}
#loadinglocale{
	position: absolute;
	width: 74px;
	height: 22px;
	left: 50%;
	top: 50%;
	margin-left: -37px;
	margin-top: -11px;
	text-align: center;
	background-color: transparent;
	color: #fff;
	font-size: 12px;
}
/* carousel */
ul[rn-carousel] {
    width:100%;
    height:100%;
    margin: 0 auto;
}
.rn-carousel-indicator{
	display:inline-block;
	position: absolute;
    text-align: center;
    left: 48%;
    top: 90%; 
}
.bgimage {
    text-align:right;
    color:white;
    background-size:cover;
    height: 100%;
    background-position: center center;
}
/* carousel */
/* body, html {
    height: 100%;
    overflow: hidden;
    width: 100%;
}

.app-content {
	overflow:-moz-scrollbars-vertical;
    display: block;
    height: 100%;
    overflow: hidden;
    padding: 0;
    position: relative;
    width: 100%;
}
.scrollable {
    bottom: 0;
    height: 100%;
    left: 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 100%;
    padding-bottom: 50px;
}
.scrollable-content {
	-webkit-overflow-scrolling:touch;
    overflow:-moz-scrollbars-vertical;
    height:100%;
    overflow: auto;  
    overflow-y:scroll;
    width: 100%;
}
*/
#left-menu_second_*{
	display: none;
}
.input-group-addon:last-child{
	border-top: 1px none;
}
/* .pdt:HOVER{
	-webkit-transition:border linear .2s,-webkit-box-shadow linear .5s; 
	
	-webkit-box-shadow:0 0 18px rgba(111,1,32,3); 
	border: 1px solid rgb(236,236,236);
} */
.loading {
    bottom: 10px;
    display: block;
    left: 0;
    width: 100%;
    line-height: 4px;
    margin: auto;
}

.left-menu_second{
 /*    display: none;
    float: left;
    width: 343%;
    z-index: 20;
    position:absolute;
    margin-left: 100%;
    background-color: rgb(247,247,247);
    border-top: 2px solid rgb(200,22,35)!important;

    border-bottom: 2px solid rgb(200,22,35)!important;
    border-right: 2px solid rgb(200,22,35)!important;
    margin-top: -25%;
    padding: 5px 0 10px; */
    display: none;
	position: absolute;
	height: 99%;
	width: 345%; 
	background-color: rgb(247,247,247);
	left: 108%;
	top: 1%;
	z-index: 20;
    border-bottom: 1px solid rgb(200,22,35)!important;
    border-right: 2px solid rgb(200,22,35)!important;
}
.left-menu_second a{
    font-size: 16px;
    color: #000000;
   /*  margin-left: 30px; */
   margin:0 8px;
    text-align: center;
}
.left-menu_second a:hover{
    color: rgb(200,22,35);
}
.left-menu div{
    display: none;
}
.left-menu-active div{
    background-color: rgb(247,247,247);
    display: block;


}
.left-menu-active div a{
    text-decoration: none;
}

.product-menu{
  /*   background-color: rgb(200,22,35); */
    margin-top:-10px;
    padding:8px 0px 0px;
}
.product-menu h5{
   /*  margin-top: -52px;
    margin-bottom: 2px; */
    margin-top: -46px;
    margin-bottom: -2px; 
    background-color: rgb(177,25,26);
    padding: 14px;
    color: #ffffff;
    cursor: pointer;
}
.caret1 {
    display: inline-block;
    width: 0;
    height: 0;
    margin-right: 20px;
/*     padding-right: 20px; */
    vertical-align: middle;
   /* border-top: 4px dashed;
    border-top: 4px solid \9;
    border-right: 4px solid transparent;
    border-left: 4px solid transparent;*/
    border-left: 4px dashed;
    border-left: 4px solid \9;
    border-top: 4px solid transparent;
    border-bottom: 4px solid transparent;
}

/*  2016-4-19 19:34:26 */
.category_menu{
/* 	padding: 3px 15px 3px!important;  .product-nav-pills*/
	padding: 1px 15px!important;
}
.product-nav-pills{
    border: 1px solid rgb(200,22,35);
   /*  height: 392px; */
   height: 390px;
}
.product-nav-pills li>a{
     border-radius: 0px;
     color:  #000;
     background-color: white;
     outline:none;
     -moz-outline:none;
     blr:expression(this.onFocus=this.blur());

}
.product-nav-pills li:hover>a{
    color: rgb(182,29,29)!important;
    background-color: rgb(247,247,247)!important;
    border-right: 3px solid rgb(247,247,247)!important;
    margin-right: -1px;
}
.left-menu_second a{
	 outline:none;
     -moz-outline:none;
     blr:expression(this.onFocus=this.blur());
     text-decoration: none;
}
.dropdown:hover .dropdown-menu{
    display: block;
}
.dropdown-menu{
    margin: auto;
}
.menu-fair a{
    color: #fff;
    font: 400 16px "microsoft yahei";
	background-color: rgb(201,25,36)!important;
	outline:none;
    -moz-outline:none;
    blr:expression(this.onFocus=this.blur());
}
.menu-fair a:hover{
    background-color: rgb(201,25,36)!important;
  /*   color: rgb(201,25,36); */
}
.classifi {
    clear:both
}

.classification {
    border-radius: 4px;
    border: 1px solid rgb(236,236,236);
}

.classification>.title {
    color: #000000;
    padding: .1em .3em;
    cursor: pointer;
}
.classification>.title img{
    float: right;
    cursor: pointer;
    height: 20px;
    margin-top:-1px;
    margin-right: -6px;
    border-radius: 2px;
}

.classification>.body {
    padding: .1em .3em;
}
.notice-box span{
	font-size: 16px;
}
.notice {
    /*margin-top: 10px;*/
    border:1px solid rgb(236,236,236);
    padding: 2px 0px 0px 10px;
    margin-bottom: 4px;
}
.notice a{
	cursor:pointer;
	color: rgb(230,48,35);
	text-decoration: none;
 	outline:none;
    -moz-outline:none;
    blr:expression(this.onFocus=this.blur());
}
.notice a:HOVER{
	color: rgb(201,25,36);
}
.shell a{
    display:block;
    font-size:14px;
    line-height:14px;
    text-decoration:none;
    color:#333;
    font-family:Arial;
    margin: 5px 0px;
    width:98%; overflow:hidden; white-space:nowrap; text-overflow:ellipsis
}
.shell a:hover{
    color: rgb(201,25,36);
}
.shell span{
    font-weight:bold;
}
.shell{
 /*    border-bottom: 1px solid rgb(236,236,236); */
    border-top: 1px solid rgb(236,236,236);
 /*    padding:3px 2px 2px 0px; */
    padding: 2px 0 0;
}
.notice-content{
	margin-bottom: 6px;
}
#notice-content{
    height:122px;
    overflow:hidden;
}
/*.notice img{
    width: 24px;
    height:20px;
}*/
.order-center,.order-center:HOVER {
    /*float:right;
        line-height: 35px;
        color: darkred;*/
    color:red;
    font-size: 16px;
    font-family:Arial;

    text-align: center;
    cursor: pointer;
}
/* .order-center:hover {
    float:right;
    color: red;
} */
.header {
    margin: 10px 0px;
}
.header img{
    /*float:left;
    width: 180px;*/
    height: 35px;
}
.header-center {
    line-height: 30px;
    float:left;
    margin-left: 60px;
    /*width: 550px;*/
    text-align: center;

}
.header-center img {
    width: auto;
    margin:8px 2px;
    cursor: pointer
}

.header-center div{
     border:1px solid rgb(138,139,141);
     /*font-size: 14px;*/
     color: rgb(138,139,141);
     /*padding: 5px 10px;*/
     background: rgb(234,235,237);
     border-radius: 4px;
     width:200px; overflow:hidden; white-space:nowrap; text-overflow:ellipsis
 }
.header-center div:hover{
    cursor:pointer;
    background: #d5eeff;
}
/*.header-right {*/
    /*float: right;*/
    /*margin-bottom: 10px;*/
    /*margin-right: 10%;*/
/*}*/
.search_list a{
	color: black;
}
.search_list a:HOVER{
	color: rgb(201,25,36);
	text-decoration: none;
}
#search{
    border: 3px solid red;
    width: 600px;
}
.input-group div{
    padding: 0px;
}
.input-group img{
    width: auto;
    height: 34px;
    border-top-right-radius: 4px;
    border-bottom-right-radius: 4px;
}
.top-head-line {
    height: 32px;
    border-bottom: 1px solid rgb(165,165,165);
    padding: 6px 8px;
    margin-top: 10px;
    clear: both;
    margin-top: 10px;
    margin-bottom: 5px;
}
.top-head-line-hot{
	 background: #f1f1f1 none repeat scroll 0 0;
}
.top-head-line > div > div{
	float: left;
	position: absolute;
	color: white;
	margin-left: -12%;
	font-size: 16px;
	font-weight:bolder;
	margin-top: -2%;
}
.top-head-line > div > img{
	margin-left: -20%;
	margin-top: -10%;
}
.top-head-line > div > span{
	font-size: 20px;
	font-weight: bolder;
	margin-left: 20%;
	text-align: center;
}
.pdt-dim-second div{
	margin: 10px 0;
}
.pdt-dim-second div:HOVER{
	color: rgb(201,25,36);
	cursor: pointer;
}
.sort {
    float:left;
    margin-right: 24px;
    margin-left: 12px;
}
.sort a{
    background: #fff none repeat scroll 0 0;
    border: 1px solid #ccc;
    color: #333;
    float: left;
    height: 22px;
    line-height: 22px;
    margin-right: -1px;
    padding: 0 10px;
    text-decoration: none;
    font-size: 14px;
}
.sort a:hover{
    border-color: rgb(201,25,36);
    color: rgb(201,25,36);
    position: relative;
    cursor: pointer;
}
.sort a.cur{
    background: rgb(201,25,36) none repeat scroll 0 0;
    /*border-color: #e4393c;*/
    border-color: rgb(201,25,36);
    color: #fff;
}
.order-status a{
	/* color: #337ab7; */
	color: rgb(85,85,85);
}
.order-status a:HOVER{
	background-color: white!important;
}
/*.list_container {
    padding-right: 30px;
    padding-left: 260px;
}*/

<!--  适配 -->
/*  大屏幕
@media (min-width: 1200px) {
	   #search {
        width: 600px;
    }
     .pdt{
		min-height:300px; 
		height:auto !important; 
		overflow:auto;
	}
} 
显示器
@media (max-width: 1920px) {
	.top-fix{
		margin-top: 8%;    
    }
}
笔记本
@media (max-width: 1370px) {
	  #search {
        width: 500px;
    }
    .pdt{
		min-height:250px; 
		height:auto !important; 
		overflow:visible;
	}
	.order-center{
    	font-size: 12px;
    }
    .welcome-text{
    	font-size: 12px;
    	width: 120%;
    }

}
pad
@media (max-width: 1024px) {
	.top-fix{
		margin-top: 10%;    
    }
    .order-center{
    	font-size: 12px;
    }
    .welcome-text{
    	font-size: 12px;
    	width: 150%;
    	margin-left: -30%;
    }

}
平板电脑和小屏电脑之间的分辨率
@media (min-width: 768px) {  
@media (max-width: 768px) {
 	#search {
        width: 200px;
    }
    
}

横向放置的手机和竖向放置的平板之间的分辨率
@media (max-width:  768px) {
	 #search {
        width: 400px;
    }
  	.top-fix{
		margin-top: 11%;    
    }
    .welcome-text{
    	font-size: 12px;
    	width: 160%;
    	margin-left: -50%;
    }
}
 
横向放置的手机及分辨率更小的设备 
@media (max-width: 480px) {

} */
@media (min-width: 1200px) {
    .pdt{
		min-height:300px; 
		height:auto !important; 
		overflow:auto;
	}
} 
/* 显示器 */
@media (max-width: 1920px) {
	.top-fix{
		margin-top: 1.5%;    
    }
    .welcome-text{
    	/* width: 130%;
    	margin-left: -10%; */
    }
}
/* 笔记本 */
@media (max-width: 1370px) {
	.top-fix{
		margin-top: 2%;    
    }
    .pdt{
		min-height:250px; 
		height:auto !important; 
		overflow:visible;
	}
/* 	.order-center{
    	font-size: 12px;
    } */
    .welcome-text{
    	font-size: 12px;
    	width: 120%;
    	margin-left: -20%;
    }

}
           
@media screen and (min-width: 960px) and (max-width: 1199px) { 
	.pdt-nav-item  {
	  padding: 0px 10px 3px;
	  font-size: 12px;
	}
	 #search {
        width: 500px;
    }
    .pdt{
		min-height:250px; 
		height:auto !important; 
		overflow:visible;
	}
	/* .order-center{
    	font-size: 12px;
    } */
    .welcome-text{
    	font-size: 12px;
    	width: 160%;
    	margin-left: -30%;
    }
    .top-fix{
		margin-top: 3%;    
    }
    .all-pdt-icon{
    	margin-right: 0;
    }
} 
@media screen and (min-width: 768px) and (max-width: 959px) {
	.pdt-nav-item  {
	  padding: 0px 10px 3px;
	  font-size: 12px;
	}
	 #search {
        width: 400px;
    }
    .welcome-text{
    	font-size: 12px;
    	width: 160%;
    	margin-left: -40%;
    }
   /*  .order-center{
    	font-size: 12px;
    } */
     .top-fix{
		margin-top: 3%;    
    }
    .all-pdt-icon{
    	margin-right: 0;
    }
} 
@media only screen and (min-width: 480px) and (max-width: 767px){ 
	 #search {
        width: 300px;
    }
    .welcome-text{
    	font-size: 8px;
    	width: 160%;
    	margin-left: -40%;
    }
    .order-center{
    	font-size: 8px;
    }
} 
@media only screen and (max-width: 479px) { 
}