body {
    background-color: #101010;
    color: white;
}
.rpt-button {
    background-color: #5e5e5e;
    color: #ffffff;
}
thead {
    background-color: #024770;
    color: #ffffff;
}
.rpt-button{
	-webkit-border-radius: 4px;
	background-color: #5e5e5e;
	color: #FFFFFF;
}
#rpt-filter{
	right:100px;
}
ul#rpt-filter li {
	-webkit-border-radius: 4px;
   background-color: #5e5e5e;
   color: #ffffff;
}
div.toolbar {
	 -webkit-border-radius: 4px;
	color: #FFFFFF;
    background-color: #5e5e5e;
    border: 1px solid #5f5f5f;
}
ul#rpt-filter li#df-filter{
	background-color: #101010;
}
#fixedcolumns{
	background: #333333;
}